<div class="container">
  <form class="form" novalidate (ngSubmit)="process()" [formGroup]="form">
    <div class="form-group">
      <label for="idName">Méchant</label>
      <input formControlName='name' type="text" class="form-control" id="idName" name="name" placeholder="Devil">
      <div class="alert alert-danger" *ngIf="isError('name')">méchant requis</div>
    </div>
    <div class="form-group">
      <label for="idref">Référence</label>
      <input formControlName='ref' type="text" class="form-control" id="idref" name="ref">
      <div class="alert alert-danger" *ngIf="isError('ref')">référence requise</div>
    </div>
    <div class="form-group">
      <label for="idState">Etat</label>
      <select formControlName='state' class="form-control" id="idState" name="state">
        <option [ngValue]="state.ALIVRER">A livrer</option>
        <option [ngValue]="state.ENCOURS">En cours</option>
        <option [ngValue]="state.DELIVREE">Délivrée</option>
      </select>
    </div>
    <div class="form-group">
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Valider</button>
    </div>
  </form>
</div>
