
.state-0{
  background: rgb(253, 161, 161);
}
.state-1{
  background: rgb(253, 220, 162);
}
.state-2{
  background: rgb(185, 247, 185);
}
.state-error{
  background: grey;
}

.right{
  float: right;
}
